### Importing packages

In [1]:
! pip install -U pandas lxml

Collecting pandas
  Using cached https://files.pythonhosted.org/packages/4a/6a/94b219b8ea0f2d580169e85ed1edc0163743f55aaeca8a44c2e8fc1e344e/pandas-1.0.3-cp37-cp37m-manylinux1_x86_64.whl
Collecting lxml
  Using cached https://files.pythonhosted.org/packages/85/9e/93e2c3af278c7c8b6826666bbcb145af2829bd761c3b329e51cd6343836c/lxml-4.5.0-cp37-cp37m-manylinux1_x86_64.whl
Requirement already up-to-date: networkx in /opt/conda/lib/python3.7/site-packages (2.4)
Requirement already satisfied, skipping upgrade: numpy>=1.13.3 in /opt/conda/lib/python3.7/site-packages (from pandas) (1.17.2)
Requirement already satisfied, skipping upgrade: pytz>=2017.2 in /opt/conda/lib/python3.7/site-packages (from pandas) (2019.2)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.6.1 in /opt/conda/lib/python3.7/site-packages (from pandas) (2.8.0)
Requirement already satisfied, skipping upgrade: decorator>=4.3.0 in /opt/conda/lib/python3.7/site-packages (from networkx) (4.4.0)
Requirement already satisfied, skipping upgrade: six>=1.5 in /opt/conda/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas) (1.12.0)
Installing collected packages: pandas, lxml
  Found existing installation: pandas 0.25.1
    Uninstalling pandas-0.25.1:
      Successfully uninstalled pandas-0.25.1
Successfully installed lxml-4.5.0 pandas-1.0.3

In [2]:
import os
import sys
import re
import pickle
import json

from collections import defaultdict

import pandas as pd
import matplotlib.pyplot as plt

import xml.etree.ElementTree as ET
from lxml import etree
from bs4 import BeautifulSoup as bs
from bs4 import NavigableString

#sys.path.insert(1, '../scripts/utils/')
#from text_filter import spacify_soup

### Retrieving pickle

In [3]:
df_files = pd.read_pickle('../outputs/df_files.pkl')

In [4]:
df_files.head()

,path,name,extension,size,folder,depth,parent,uid,main,source,year,date
0,artikel_/APA/1986/APA_19860220.xml,APA_19860220,xml,6142251,False,4,5,1005,artikel_,APA,1986,1986-02-20
1,artikel_/APA/1986/APA_19860102.xml,APA_19860102,xml,3397140,False,4,5,1005,artikel_,APA,1986,1986-01-02
2,artikel_/APA/1986/APA_19860222.xml,APA_19860222,xml,3352934,False,4,5,1005,artikel_,APA,1986,1986-02-22
3,artikel_/APA/1986/APA_19860103.xml,APA_19860103,xml,3794819,False,4,5,1005,artikel_,APA,1986,1986-01-03
4,artikel_/APA/1986/APA_19860221.xml,APA_19860221,xml,5763730,False,4,5,1005,artikel_,APA,1986,1986-02-21

In [5]:
df_files.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 175600 entries, 0 to 176739
Data columns (total 12 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   path       175600 non-null  object
 1   name       175600 non-null  object
 2   extension  175600 non-null  object
 3   size       175600 non-null  int64
 4   folder     175600 non-null  bool
 5   depth      175600 non-null  int64
 6   parent     175600 non-null  int64
 7   uid        175600 non-null  int64
 8   main       175600 non-null  object
 9   source     171457 non-null  object
 10  year       171457 non-null  period[A-DEC]
 11  date       175600 non-null  datetime64[ns]
dtypes: bool(1), datetime64[ns](1), int64(4), object(5), period[A-DEC](1)
memory usage: 16.2+ MB

### Examining a single file:

In [6]:
path = '/home/jovyan/shared/C_amc_141/R_amc_3.1_12921/203_vert_spacy_rftt/'
idx = 2
print(df_files.loc[idx, 'path'])
filepath = os.path.join(path, df_files.loc[idx, 'path'])


# Parsing with Beautiful Soup
with open(filepath, "r") as f:
    soup = bs(f, "lxml-xml")

artikel_/APA/1986/APA_19860222.xml

### Extracting the article headers according to [Doc Attributes](https://amc.acdh.oeaw.ac.at/dokumentation/korpusinhalt-attribute/#doc)

In [7]:
headers = soup.find_all('doc')
dict_headers = defaultdict(list)
list_keys = ['id',
             'datum_full',
             'datum',
             'year',
             'yymm',
             'bibl',
             'mediatype',
             'docsrc',
             'docsrc_name',
             'region',
             'province',
             'ressort2',
             'autor', 
             'mutation',
             'deskriptor',
             'keys',             
             'tokens',
             'wordcount',
             'dupl']

for header in headers:
    for key in list_keys:
        if key in header.attrs.keys():
            dict_headers[key].append(header[key])
        else:
            dict_headers[key].append(None)
df_headers = pd.DataFrame(dict_headers)
df_headers.head()

,id,datum_full,datum,year,yymm,bibl,mediatype,docsrc,docsrc_name,region,province,ressort2,autor,mutation,deskriptor,keys,tokens,wordcount,dupl
0,APA_19860222_APA0001,1986-02-22T00:00:00Z,1986-02-22,None,None,APA-Meldungen digital vom 1986-02-22,print,APA,APA-Meldungen digital,agesamt,None,chronik inland,cm,None,None,JA_1986 AG_APA RS_CI RS_C DA_19860222 MO_19860...,163,None,None
1,APA_19860222_APA0002,1986-02-22T00:00:00Z,1986-02-22,None,None,APA-Meldungen digital vom 1986-02-22,print,APA,APA-Meldungen digital,agesamt,None,ausland inland medien sport,ro je ru,None,None,JA_1986 AG_APA RS_II RS_I DA_19860222 MO_19860...,153,None,None
2,APA_19860222_APA0003,1986-02-22T00:00:00Z,1986-02-22,None,None,APA-Meldungen digital vom 1986-02-22,print,APA,APA-Meldungen digital,agesamt,None,inland,ro ko ru,None,None,JA_1986 AG_APA RS_II RS_I DA_19860222 MO_19860...,241,None,None
3,APA_19860222_APA0004,1986-02-22T00:00:00Z,1986-02-22,None,None,APA-Meldungen digital vom 1986-02-22,print,APA,APA-Meldungen digital,agesamt,None,ausland,ti bf,None,None,JA_1986 AG_APA RS_AA RS_A DA_19860222 MO_19860...,199,None,None
4,APA_19860222_APA0005,1986-02-22T00:00:00Z,1986-02-22,None,None,APA-Meldungen digital vom 1986-02-22,print,APA,APA-Meldungen digital,agesamt,None,ausland,ti bf,None,None,JA_1986 AG_APA RS_AA RS_A DA_19860222 MO_19860...,105,None,None

In [8]:
df_headers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 19 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           200 non-null    object
 1   datum_full   200 non-null    object
 2   datum        200 non-null    object
 3   year         0 non-null      object
 4   yymm         0 non-null      object
 5   bibl         200 non-null    object
 6   mediatype    200 non-null    object
 7   docsrc       200 non-null    object
 8   docsrc_name  200 non-null    object
 9   region       200 non-null    object
 10  province     0 non-null      object
 11  ressort2     200 non-null    object
 12  autor        128 non-null    object
 13  mutation     0 non-null      object
 14  deskriptor   0 non-null      object
 15  keys         200 non-null    object
 16  tokens       200 non-null    object
 17  wordcount    0 non-null      object
 18  dupl         0 non-null      object
dtypes: object(19)
memory usage: 29.8+ KB

### Extracting the article fields according to [Token Attributes](https://amc.acdh.oeaw.ac.at/dokumentation/korpusinhalt-attribute/#token)

In [28]:
lines = []
headers = soup.find_all('doc')
for idx, header in enumerate(headers):
    fields = header.find_all('field')
    for field in fields:
    #    for key in field.attrs.keys():
    #    print(f"{key}: {field[key]}")
        name = field['name']
        for satz in field.find_all('s'):
            text = re.sub('<g/>','',satz.text)
            text = re.sub(r'[\n]+','\n',text)
            rows = re.split('\n',text)[1:-1]
            for row in rows:
                list_attribs = re.split('\t',row)
                lines.append([idx, name] + list_attribs)
    
    
df_fields = pd.DataFrame.from_records(lines, columns=['id_article',
                                                      'wert',
                                                      'word',
                                                      'lc',
                                                      'ix',
                                                      'posUDS',
                                                      'posTT',
                                                      'ner',
                                                      'iob',
                                                      'ixNP',
                                                      'dep',
                                                      'ixDEP',
                                                      'neg',
                                                      'lemma',
                                                      'pos',
                                                      'posTI',
                                                      'lempos',
                                                      'lemmasource',
                                                      #'posbase',   ### these fields are in the documentation but not in the verticals
                                                      #'lemma_lc',
                                                      #'posx',
                                                     ])

df_fields = df_fields.reindex(columns=['id_article','wert', 
                                       'word', 'lc', 'lemma', 'lempos', 
                                       'pos', 'posTI', 'posUDS', 'posTT', 
                                       'dep', 'ner', 'ix', 'ixNP', 'ixDEP', 'iob', 
                                       'neg', 'lemmasource'])

df_fields['ix'] = pd.to_numeric(df_fields['ix']).astype(int)
df_fields['ixDEP'] = pd.to_numeric(df_fields['ixDEP'], errors='coerce').astype(int)
df_fields['ixNP'] = pd.to_numeric(df_fields['ixNP'], errors='coerce')
df_fields.head(10)

,id_article,wert,word,lc,lemma,lempos,pos,posTI,posUDS,posTT,dep,ner,ix,ixNP,ixDEP,iob,neg,lemmasource
0,0,stichwort,Bunt,bunt,-,bunt-j,ADJD.Pos,ADJD,PROPN,NE,ROOT,ORG,0,0.0,0,B,-,tt
1,0,stichwort,Schweden,schweden,-,Schweden-n,N.Reg.Nom.Pl.Masc,NE,PROPN,NE,ROOT,LOC,0,0.0,0,B,-,tt
2,0,titel,Konkurrenz,konkurrenz,Konkurrenz,Konkurrenz-n,N.Reg.*.Sg.Fem,NN,NOUN,NN,ROOT,,0,0.0,0,O,-,tt
3,0,titel,für,für,-,für-i,APPR.Acc,APPR,ADP,APPR,mnr,,1,NaN,0,O,-,tt
4,0,titel,den,den,-,die-x,ART.Def.Acc.Sg.Masc,ART,DET,ART,nk,,2,1.0,3,O,-,tt
5,0,titel,Vasa-Lauf,vasa-lauf,-,Vasa-Lauf-n,N.Reg.Acc.Sg.Masc,NN,NOUN,NN,nk,,3,1.0,1,O,-,a-b
6,0,inhalt,Utl,utl,-,Utl-j,ADJD.Pos,NE,NOUN,NN,ROOT,,0,0.0,0,O,-,u
7,0,inhalt,.,.,-,.-x,SYM.Pun.Sent,$.,PUNCT,$.,punct,,1,NaN,0,O,-,tt
8,0,inhalt,:,:,-,:-x,SYM.Pun.Colon,$.,PUNCT,$.,ROOT,,2,NaN,2,O,-,tt
9,0,inhalt,Langlaufwettbewerb,langlaufwettbewerb,-,Langlaufwettbewerb-n,N.Reg.Nom.Sg.Masc,NN,NOUN,NN,ROOT,,3,0.0,3,O,-,sU_8

In [29]:
df_fields.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43883 entries, 0 to 43882
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id_article   43883 non-null  int64
 1   wert         43883 non-null  object
 2   word         43883 non-null  object
 3   lc           43883 non-null  object
 4   lemma        43883 non-null  object
 5   lempos       43883 non-null  object
 6   pos          43883 non-null  object
 7   posTI        43883 non-null  object
 8   posUDS       43883 non-null  object
 9   posTT        43883 non-null  object
 10  dep          43883 non-null  object
 11  ner          43883 non-null  object
 12  ix           43883 non-null  int64
 13  ixNP         11848 non-null  float64
 14  ixDEP        43883 non-null  int64
 15  iob          43883 non-null  object
 16  neg          43883 non-null  object
 17  lemmasource  43883 non-null  object
dtypes: float64(1), int64(3), object(14)
memory usage: 6.0+ MB

### Displaying the first ten articles

In [127]:
for idx in range(10):
    title = ' '.join(df_fields[(df_fields.id_article == idx) & (df_fields.wert == 'titel')]['word'])
    keywords = ', '.join(df_fields[(df_fields.id_article == idx) & (df_fields.wert == 'stichwort')]['word'])
    text = ' '.join(df_fields[(df_fields.id_article == idx) & (df_fields.wert == 'inhalt')]['word'])

    text = re.sub(r'\s+([?!.,;:)])', r'\1', text)  # delete space(s) before: ?!.,;:)
    text = re.sub(r'([(])\s+', r'\1', text)        # delete space(s) after: (
    text = re.sub('\*', '', text)        # delete: *

    if text.find('Utl.') != -1:
        subtitle = text[text.find('Utl.')+6 : text.find('=')]
        text = text[text.find('=')+2:]
    else:
        subtitle = "None"

    print(f'Title: {title}\n\nSubtitle: {subtitle}\n\nKeywords: {keywords}\n\nText:\n{text}')
    print('\n-------------------------------\n')

Title: Konkurrenz für den Vasa-Lauf

Subtitle: Langlaufwettbewerb auf den Spuren des Schwedenkönigs in Lindholmen

Keywords: Bunt, Schweden

Text:
Stockholm (APA) - Der weltgrößte Skiwettbewerb, der Vasa-Lauf, der alljährlich Anfang März auf der 85,8 Kilometer langen Strecke von Mora nach Saelen im schwedischen Dalarna ausgetragen wird, hat einen Konkurrenten gefunden: Erstmals wurde in diesem Jahr im Februar in Lindholmen nördlich von Stockholm ein Langlaufwettbewerb zum Gedenken an die Flucht des schwedischen Königs Gustav Vasa nach Norwegen im Jahr 1521 veranstaltet.  Die Teilnehmer an dem Gedenklauf, von dem die ostdeutsche Nachrichtenagentur adn berichtet, benutzten nach historischen Vorbildern angefertigte, aus Bambus geflochtene " Brettln ". Mit solchen Skiern soll der König seinerzeit ins Nachbarland geflohen sein. Die geschichtliche Bedeutung des Laufes unterstreichen die Lindholmener auch mit der These, der König sei in ihrer Stadt geboren. Außer einem Steinhaufen, den Resten eines Wallgrabens und einer Gedenktafel ist allerdings nichts mehr von dem angeblichen Geburtshaus zu sehen. Geschichtsforscher meinen, daß Gustav Vasa entweder auf Rydboholm oder in Lindholmen geboren wurde. (Schluß) cm

-------------------------------

Title: Kärnten : Heute wird neuer VP-Obmann gewählt

Subtitle: Zwei Kandidaten bewerben sich

Keywords: VP, Kärnten, P, r, i, m, a, v, i, s, t, a

Text:
Klagenfurt (APA) - Unter dem Motto " Du und ich - Kärnten zuliebe " findet heute, Samstag, im Klagenfurter Konzerthaus der 19. ordentliche VP-Landesparteitag statt. Im Mittelpunkt des Interesses steht die Wahl des neuen Landesparteiobmannes.  Für dieses Amt bewerben sich Bürgermeister Josef Ertl und Labg. Dkfm. Harald Scheucher. Es gilt als mehr als unwahrscheinlich, daß ein dritter Kandidat auf dem Parteitag selbst präsentiert wird, wie dies - theoretisch - möglich wäre. Auf der Tagesordnung stehen auch zahlreiche Anträge - z.B. die Abschaffung der parteiinternen Altersklausel. Das politische Referat " unsere Politik für den Neubeginn " hält VP-Bundesobmann Dr. Alois Mock. Der scheidende Landesobmann, Lhstv. Stefan Knafl, hat bereits angekündigt, daß er auch seine Regierungsämter noch heuer zurücklegen werde. Sollte Ertl - der zum Unterschied von Scheucher keinen Sitz im Landtag hat - gewählt werden, dürfte Knafl bereits im Sommer seine Regierungsämter zurücklegen. (Schluß) ro / je / ru

-------------------------------

Title: Kärnten : VP-Landesparteitag 1

Subtitle: Wichtigere Probleme als Verlängerung der Legislaturperiode

Keywords: VP, Landesparteitag, Kärnten

Text:
Klagenfurt (APA) - Es gebe wichtigere Probleme als eine Verlängerung der Legislaturperiode. Dies erklärte heute, Samstag, der scheidende VP-Landesparteiobmann Lhstv. Stefan Knafl auf dem 19. ordentlichen VP-Landesparteitag, der unter dem Motto " Du und ich - Kärnten zuliebe " steht. Wenn die VP einer solchen Verlängerung zustimmen sollte, dann nur unter der Voraussetzung, daß darüber eine Volksabstimmung stattfinde. Knafl - er ist seit Mai 1978 VP-Landesobmann - rief die Funktionäre seiner Partei dazu auf, an ihre eigene Kraft und jene der ganzen Gesinnungsgemeinschaft zu glauben. Alle Verantwortungsträger müßten den Mut haben, sich überall und offen zur VP zu bekennen, auch wenn dies Schwierigkeiten im Umgang mit SP-Gewaltigen im Lande nach sich ziehen könne.  Dem Landesparteitag liegen 79 Anträge zur Beschlußfassung vor. Darunter auch mehrere zur Abänderung des Landesparteiorganisations- statutes. So soll bei der Wiederwahl für eine Parteifunktion ab der zweiten Wiederbestellung (Wiederwahl) eine Zweidrittelmehrheit erforderlich sein. Die partei interne Altersgrenze soll fallen. Die Ausübung von mehr als zwei Mandaten - bzw. bezahlten Funktionen - soll unzulässig sein. In einem Antrag der jungen VP heißt es, die Volkspartei solle dafür eintreten, daß in Kärnten - nach dem Beispiel Salzburgs - einmal im Monat ein politikfreies Wochenende eingeführt werde. In einem Antrag der Bezirksparteileitung Feldkirchen wird der Ersatz des bisherigen Pensionssystems für politische Mandatare durch Eigenvorsorge gefordert. (Forts.) ro / ko / ru  Bitte S P E R R F R I S T beachten

-------------------------------

Title: Ortega erwartet 1986 mehr Druck aus den USA

Subtitle: Senator Kennedy befürchtet militärische Intervention der USA

Keywords: Nicaragua, USA

Text:
Managua (dpa) - Der Druck der USA auf Nicaragua könnte in diesem Jahr nach Ansicht von Präsident Daniel Ortega noch stärker werden als bisher. Ortega sagte am (gestrigen) Freitag vor dem Parlament in Managua, seine Regierung werde deshalb weiterhin ihre Anstrengungen auf die Verteidigung des Landes konzentrieren.  Ortega meinte in seinem Jahresbericht zur Eröffnung der neuen Parlamentsperiode, die USA wollten die regierungsfeindlichen " Konterrevolutionäre " mit ihrer Finanzhilfe am Leben halten, um die Bedingungen für eine Invasion in Nicaragua zu schaffen. Im Fall eines Einmarsches " werden wir (US-Präsident Ronald) Reagan mit den Gewehren Nicaraguas und der mittelamerikanischen Patrioten sowie der Völker Lateinamerikas empfangen ", bekräftigte der Chef der sandinistischen Regierung. Auch die übrigen mittelamerikanischen Staaten wünschten keine US-Intervention, meinte er, weil sie wüßten, daß das " eine Bombe für die Region " werde. Der amerikanische Senator Edward Kennedy bekräftigte in San Juan in Puerto Rico seine Ablehnung, den " Konterrevolutionären " in Nicaragua die Summe von 100 Millionen Dollar (etwa 1,7 Milliarden Schilling) zu bewilligen, die Reagan im Kongreß angefordert hat. Wenn Reagan auf dieser Politik beharre, werde sie zu einer militärischen Intervention der USA führen. (Schluß) ti / bf

-------------------------------

Title: Vier Tamilen wegen Drogenhandels in Spanien verhaftet

Subtitle: " Finanzbeschaffung " für Separatistenorganisation vereitelt

Keywords: Spanien, Sri, Lanka, Tamilen, Drogen

Text:
Sevilla (AFP) - Vier mutmaßliche Mitglieder einer tamilischen Separatistenorganisation auf Sri Lanka sind vor kurzem auf den kanarischen Inseln und in Sevilla verhaftet worden. Wie die spanische Polizei am (gestrigen) Freitag mitteilte, waren die vier in Besitz von insgesamt 5,5 Kilogramm reinem Heroin. Die vier Drogenhändler hatten britische Ausweispapiere.  Den Angaben zufolge gehören die vier der Organisation " Tamil Plot " an, deren wichtigste Einnahmequelle der Drogenhandel ist. Im Laufe des vergangenen Jahres waren neun Einwohner Sri Lankas, alle Mitglie- der dieser Gruppierung, in Spanien im Zusammenhang mit Drogenhandel verhaftet worden. (Schluß) ti / bf

-------------------------------

Title: Chloraustritt : 21 Personen vergiftet =

Subtitle: None

Keywords: Unfall, USA

Text:
South Gate (AFP) - 21 Personen, darunter 15 Kinder, sind am (gestrigen) Freitag beim Bruch einer Chlorleitung in einer Fabrik der kalifornischen Stadt South Gate bei Los Angeles vergiftet worden und mußten in ein Krankenhaus eingeliefert werden. Dies teilten die örtlichen Behörden am Abend mit. Der Zustand eines zehnjährigen Mädchens wurde als kritisch bezeichnet. Insgesamt mußten 600 Kinder aus einer Volksschule evakuiert werden, die sich in unmittelbarer Nähe der Fabrik befindet. Die Fabrik selbst, sowie die Gebäude eines benachbarten Unternehmens wurden ebenfalls geräumt.  (Schluß) ti / bf

-------------------------------

Title: Erdbeben in Bulgarien richtete erheblichen Sachschaden an =

Subtitle: None

Keywords: Bulgarien, Erdbeben

Text:
Sofia (AFP) - Ein Erdbeben der Stärke sechs auf der zwölfstufigen Mercalli-Skala hat am (gestrigen) Freitag vormittag den nordwest- lichen Teil Bulgariens erschüttert und erheblichen Sachschaden ange- richtet. Wie die amtliche bulgarische Nachrichtenagentur BTA bekannt- gab, lag das Epizentrum des Bebens bei Strajitsa. Verletzt wurde laut BTA niemand. In der Erdbebenregion wurden zahlreiche Häuser beschädigt und zum Teil unbewohnbar. Die Telefonverbindungen sowie die Wasser- und Stromversorgung waren unterbrochen, hieß es.  (Schluß) ti / bf

-------------------------------

Title: Luxemburg gibt grünes Licht für französisches Atomkraftwerk =

Subtitle: None

Keywords: Luxemburg, Frankreich, Atomenergie

Text:
Luxemburg (AFP) - Die luxemburgische Regierung hat am (gestrigen) Freitag einem Abkommen mit Frankreich über die Inbetriebnahme des Atomkraftwerks von Cattenom in Lothringen zugestimmt. Der luxemburgi- sche Regierungschef Jacques Santer erklärte nach Abschluß einer Ministerratssitzung, Frankreich habe sich bemüht, die Bedenken der Luxemburger abzubauen. Das Abkommen sieht einen radioaktiven Austritt aus der gesamten Anlage von nicht mehr als zwölf Curie jährlich vor. Ursprünglich waren 60 Curie vorgesehen. Das Abkommen muß vor seinem Inkrafttreten noch von den Parlamenten beiden Staaten ratifiziert werden.  (Schluß) ti / bf

-------------------------------

Title: Europarakete Ariane planmäßig gestartet

Subtitle: Zwei Satelliten ausgesetzt

Keywords: Raumfahrt, Ariane

Text:
Kourou (dpa / Reuter / AFP) - Die Europarakete Ariane ist in der Nacht zum Samstag erfolgreich vom Raumfahrtzentrum Kourou in Französisch- Guayana gestartet und hat wie vorgesehen 15 Minuten nach dem Start den französischen Erdbeobachtungssatelliten SPOT und den schwedischen Satelliten " Viking " ausgesetzt. Die Rakete hob während eines kurzen Startfensters von nur zehn Minuten nach 2.44 Uhr MEZ glatt ab.  Der ursprünglich für Jänner geplante 16. Start der Ariane mußte mehrmals verschoben werden. Nach dem Unglück mit der amerikanischen Raumfähre Challenger galt ihm weltweit besondere Aufmerksamkeit. Es ist die erste westliche Unternehmung dieser Art seit der " Challen- ger " -Explosion Ende Jänner. (Schluß) ti

-------------------------------

Title: Werbung um Österreich-Reisende in den USA =

Subtitle: None

Keywords: USA, Österreich, Fremdenverkehr

Text:
Washington (APA) - Durch die Rückgänge der Urlauberzahlen in Österreich besorgt, haben die zuständigen österreichischen Stellen in den USA begonnen, dieser Tendenz durch Aufklärung und Information gegenzusteuern. So haben Vertreter des Wiener Fremdenverkehrsverban- des, des Salzburger Fremdenverkehrsbüros, des Hotels " Österreichi- scher Hof " und der Fluglinie PAN-AM mit aktiver Unterstützung der österreichischen Botschaft in Washington dieser Tage Reiseveranstal- ter durch eine Reihe von " Workshops " angesprochen. An vier aufein- anderfolgenden Tagen konnten in Washington und New York mit diesen Seminaren mehr als 150 führende Angestellte namhafter Reisebüros ge- zielt und in persönlichem Kontakt erreicht und mit Österreich- Material versorgt werden.  Die österreichischen Fremdenverkehrsfachleute statteten den wichtigsten amerikanischen Reiseagenturen überdies noch persönliche Besuche ab. Die österreichischen Dienststellen in den USA begleiteten diese Bemühungen mit Presseaussendungen. Bei diesen Gelegenheiten referierte der österreichische Botschaf- ter in den USA, Dr. Thomas Klestil, über die Sicherheitsberichte des Bundesministeriums für Inneres und der Flughafenbetriebsgesellschaft Schwechat, aus denen hervorgeht, daß Österreich nach wie vor im internationalen Vergleich ein sicheres Land ist. Klestil betonte, daß die nach dem Terroranschlag auf den Flughafen Schwechat ergriffenen Maßnahmen nunmehr ein Maximum an Sicherheit bieten und wies darauf hin, daß die allgemeine Kriminalität in Österreich seit 1982 konti- nuierlich sinkt. (Schluß) ti / bf

-------------------------------