### Importing packages

In [1]:
import os
import pickle

import pandas as pd
import matplotlib.pyplot as plt

import xml.etree.ElementTree as ET
from lxml import etree
from bs4 import BeautifulSoup as bs

import networkx as nx
from networkx.drawing.nx_pydot import graphviz_layout

import squarify

In [2]:
path = '/home/jovyan/shared/C_amc_141/R_amc_3.1_12921/203_vert_spacy_rftt/'

### Retrieving pickle

In [3]:
df_files = pd.read_pickle('../outputs/df_files.pkl')

In [4]:
df_files.head()

,path,name,extension,size,atime,mtime,ctime,folder,depth,parent,main,source,year,date
0,artikel_/APA/1986/APA_19860220.xml,APA_19860220,xml,6142251,2019-11-13 12:41:38,2019-09-20 08:04:05,2019-09-23 11:43:22,False,4,5,artikel_,APA,1986,1986-02-20
1,artikel_/APA/1986/APA_19860102.xml,APA_19860102,xml,3397140,2019-11-13 12:41:38,2019-09-20 08:04:05,2019-09-23 11:43:22,False,4,5,artikel_,APA,1986,1986-01-02
2,artikel_/APA/1986/APA_19860222.xml,APA_19860222,xml,3352934,2019-11-13 12:41:38,2019-09-20 08:04:05,2019-09-23 11:43:22,False,4,5,artikel_,APA,1986,1986-02-22
3,artikel_/APA/1986/APA_19860103.xml,APA_19860103,xml,3794819,2019-11-13 12:41:38,2019-09-20 08:04:06,2019-09-23 11:43:22,False,4,5,artikel_,APA,1986,1986-01-03
4,artikel_/APA/1986/APA_19860221.xml,APA_19860221,xml,5763730,2019-11-13 12:41:39,2019-09-20 08:04:06,2019-09-23 11:43:22,False,4,5,artikel_,APA,1986,1986-02-21

### Examining a single file:

In [5]:
filepath = os.path.join(path, df_files.loc[0, 'path'])
print(filepath)

/home/jovyan/shared/C_amc_141/R_amc_3.1_12921/203_vert_spacy_rftt/artikel_/APA/1986/APA_19860220.xml

In [6]:
!head -20 /home/jovyan/shared/C_amc_141/R_amc_3.1_12921/203_vert_spacy_rftt/artikel_/APA/1986/APA_19860220.xml

<file>
<doc autor="wm" region="agesamt" datum="1986-02-20" ressort2="ausland chronik" tokens="292" keys="JA_1986 AG_APA RS_CA RS_C DA_19860220 MO_198602 DB_APA" id="APA_19860220_APA0001" mediatype="print" datum_full="1986-02-20T00:00:00Z" docsrc="APA" docsrc_name="APA-Meldungen digital" bibl="APA-Meldungen digital  vom 1986-02-20">
<field name="stichwort">
<s>
Umwelt	umwelt	0	NOUN	NN		O	0	ROOT	0	-	Umwelt	N.Reg.Nom.Sg.Fem	NN	Umwelt-n	tt
</s>
</field>
<field name="stichwort">
<s>
USA	usa	0	PROPN	NE	LOC	B	0	ROOT	0	-	-	N.Name.Gen.Sg.*	NE	USA-n	tt
</s>
</field>
<field name="stichwort">
<s>
F	f	0	X	FM		O	-	ROOT	0	-	-	N.Reg.Nom.Sg.Neut	NN	F-n	tt
e	e	1	X	FM		O	-	uc	0	-	-	FM	ADJA	e-n	u
a	a	2	X	FM		O	-	uc	0	-	-	FM	FM	a-x	tt
t	t	3	X	FM		O	-	uc	0	-	-	FM	NN	t-n	tt
u	u	4	X	FM		O	-	uc	0	-	-	N.Name.Nom.Sg.Neut	ADJA	U-n	d
r	r	5	X	FM		O	-	uc	0	-	-	N.Name.Nom.Sg.Neut	ADJA	R-n	d

In [7]:
soup = bs(open(filepath, mode='r').read())

In [8]:
print(soup.text[0:500])

Umwelt	umwelt	0	NOUN	NN		O	0	ROOT	0	-	Umwelt	N.Reg.Nom.Sg.Fem	NN	Umwelt-n	tt




USA	usa	0	PROPN	NE	LOC	B	0	ROOT	0	-	-	N.Name.Gen.Sg.*	NE	USA-n	tt




F	f	0	X	FM		O	-	ROOT	0	-	-	N.Reg.Nom.Sg.Neut	NN	F-n	tt
e	e	1	X	FM		O	-	uc	0	-	-	FM	ADJA	e-n	u
a	a	2	X	FM		O	-	uc	0	-	-	FM	FM	a-x	tt
t	t	3	X	FM		O	-	uc	0	-	-	FM	NN	t-n	tt
u	u	4	X	FM		O	-	uc	0	-	-	N.Name.Nom.Sg.Neut	ADJA	U-n	d
r	r	5	X	FM		O	-	uc	0	-	-	N.Name.Nom.Sg.Neut	ADJA	R-n	d
e	e	6	X	FM		O	-	uc	0	-	-	N.Name.*.*.*	NN	E-n	tt





Geht	geht	0

In [9]:
for x in soup.find_all('s')[0:10]:
    print(len(x.contents[0].split()))
    print(x.contents[0].split())

15
['Umwelt', 'umwelt', '0', 'NOUN', 'NN', 'O', '0', 'ROOT', '0', '-', 'Umwelt', 'N.Reg.Nom.Sg.Fem', 'NN', 'Umwelt-n', 'tt']
16
['USA', 'usa', '0', 'PROPN', 'NE', 'LOC', 'B', '0', 'ROOT', '0', '-', '-', 'N.Name.Gen.Sg.*', 'NE', 'USA-n', 'tt']
105
['F', 'f', '0', 'X', 'FM', 'O', '-', 'ROOT', '0', '-', '-', 'N.Reg.Nom.Sg.Neut', 'NN', 'F-n', 'tt', 'e', 'e', '1', 'X', 'FM', 'O', '-', 'uc', '0', '-', '-', 'FM', 'ADJA', 'e-n', 'u', 'a', 'a', '2', 'X', 'FM', 'O', '-', 'uc', '0', '-', '-', 'FM', 'FM', 'a-x', 'tt', 't', 't', '3', 'X', 'FM', 'O', '-', 'uc', '0', '-', '-', 'FM', 'NN', 't-n', 'tt', 'u', 'u', '4', 'X', 'FM', 'O', '-', 'uc', '0', '-', '-', 'N.Name.Nom.Sg.Neut', 'ADJA', 'U-n', 'd', 'r', 'r', '5', 'X', 'FM', 'O', '-', 'uc', '0', '-', '-', 'N.Name.Nom.Sg.Neut', 'ADJA', 'R-n', 'd', 'e', 'e', '6', 'X', 'FM', 'O', '-', 'uc', '0', '-', '-', 'N.Name.*.*.*', 'NN', 'E-n', 'tt']
61
['Geht', 'geht', '0', 'VERB', 'VVFIN', 'O', '-', 'ROOT', '0', '-', 'gehen', 'VFIN.Full.3.Sg.Pres.Ind', 'VVFIN', 'gehen-v', 'tt', 'Amerika', 'amerika', '1', 'PROPN', 'NE', 'LOC', 'B', '0', 'sb', '0', '-', '-', 'N.Name.Acc.Sg.Neut', 'NE', 'Amerika-n', 'tt', 'unter', 'unter', '2', 'PART', 'PTKVZ', 'O', '-', 'svp', '0', '-', '-', 'PART.Verb', 'PTKVZ', 'unter-x', 'tt', '?', '?', '3', 'PUNCT', '$.', 'O', '-', 'punct', '0', '-', '-', 'SYM.Pun.Sent', '$.', '?-x', 'tt']
15
['Utl', 'utl', '0', 'NOUN', 'NN', 'O', '0', 'ROOT', '0', '-', '-', 'N.Reg.Nom.Sg.Masc', 'NE', 'Utl-n', 'u']
15
[':', ':', '2', 'PUNCT', '$.', 'O', '-', 'ROOT', '2', '-', '-', 'SYM.Pun.Colon', '$.', ':-x', 'tt']
15
['Experten', 'experten', '3', 'NOUN', 'NN', 'O', '0', 'ROOT', '3', '-', 'Experte', 'N.Reg.Nom.Pl.Masc', 'NN', 'Experte-n', 'tt']
90
['Anstieg', 'anstieg', '5', 'NOUN', 'NN', 'O', '0', 'sb', '8', '-', 'Anstieg', 'N.Reg.Nom.Sg.Masc', 'NN', 'Anstieg-n', 'tt', 'des', 'des', '6', 'DET', 'ART', 'O', '-', 'nk', '7', '-', '-', 'ART.Def.Gen.Sg.Masc', 'ART', 'die-x', 'tt', 'Meeresspiegels', 'meeresspiegels', '7', 'NOUN', 'NN', 'O', '-', 'ag', '5', '-', 'Meeresspiegel', 'N.Reg.Gen.Sg.Masc', 'NN', 'Meeresspiegel-n', 'tt', 'bedroht', 'bedroht', '8', 'VERB', 'VVFIN', 'O', '-', 'ROOT', '8', '-', 'bedrohen', 'VFIN.Full.3.Sg.Pres.Ind', 'VVFIN', 'bedrohen-v', 'tt', 'die', 'die', '9', 'DET', 'ART', 'O', '-', 'nk', '10', '-', '-', 'ART.Def.Acc.Pl.Fem', 'ART', 'die-x', 'tt', 'Küsten', 'küsten', '10', 'NOUN', 'NN', 'O', '-', 'oa', '8', '-', 'Küste', 'N.Reg.Acc.Pl.Fem', 'NN', 'Küste-n', 'tt']
15
['=', '=', '11', 'X', 'XY', 'O', '-', 'ROOT', '11', '-', '-', 'SYM.Other.XY', '$(', '=-x', 'tt']
32
['New', 'new', '0', 'PROPN', 'NE', 'LOC', 'B', '0', 'pnc', '1', '-', '-', 'N.Name.*.*.*', 'NE', 'New-n', 'tt', 'York', 'york', '1', 'PROPN', 'NE', 'LOC', 'I', '0', 'ROOT', '1', '-', '-', 'N.Name.Nom.Sg.Neut', 'NE', 'York-n', 'tt']